In [1]:
# here, __course_price is a private variable.
# using '_' means protected variable.
# using' __' means it convert it into private variable.
# it is not accessable for outsider / user.

class pwskills :
    def __init__(self, course_price, course_name) :
        self.__course_price = course_price
        self.course_name = course_name

In [2]:
pw = pwskills(3500,'Data Science Masters')
pw.__course_price

AttributeError: 'pwskills' object has no attribute '__course_price'

In [3]:
# in this way, I can access private variable.

pw._pwskills__course_price

3500

In [4]:
pw.course_name

'Data Science Masters'

In [ ]:
# now, How I can accessable the private variable to outsider / user ?

In [5]:
class pwskills :
    def __init__(self, course_price, course_name) :
        self.__course_price = course_price
        self.course_name = course_name
        
    @property
    def course_price_access(self) :
        return self.__course_price

In [6]:
pw = pwskills(3500,'Data Science Masters')
pw.course_price_access # this is the way user can access the private variable.

3500

In [ ]:
# now user want to modify the private variable. How ?

In [7]:
class pwskills :
    def __init__(self, course_price, course_name) :
        self.__course_price = course_price
        self.course_name = course_name
        
    @property
    def course_price_access(self) :
        return self.__course_price
    
    @course_price_access.setter
    def course_price_set(self, price) :
        if price <= 3500 :
            pass
        else :
            self.__course_price = price

In [8]:
pw = pwskills(3500,'Data Science Masters')
pw.course_price_access

3500

In [9]:
pw.course_price_set = 4500
pw.course_price_access

4500

In [10]:
pw.course_price_set = 2500
pw.course_price_access

4500

In [15]:
# now I want to delete one variable :

class pwskills :
    def __init__(self, course_price, course_name) :
        self.__course_price = course_price
        self.course_name = course_name
        
    @property
    def course_price_access(self) :
        return self.__course_price
    
    @course_price_access.setter
    def course_price_set(self, price) :
        if price <= 3500 :
            pass
        else :
            self.__course_price = price
            
    @course_price_access.deleter
    def delete_course_price(self) :
        del self.__course_price

In [16]:
pw = pwskills(3500, 'Data Science Masters')

In [17]:
pw.course_price_access

3500

In [19]:
del pw.delete_course_price

In [21]:
pw.course_price_access

AttributeError: 'pwskills' object has no attribute '_pwskills__course_price'

In [32]:
class Country :
    def __init__(self, name, area) :
        self.name = name
        self.__area = area

In [33]:
c = Country('India',99)
c.name

'India'

In [34]:
c.__area

AttributeError: 'Country' object has no attribute '__area'

In [35]:
class Country :
    def __init__(self, name, area) :
        self.name = name
        self.__area = area
        
    @property
    def area_access(self) :
        return self.__area

In [36]:
c = Country('India',99)
c.area_access

99

In [37]:
class Country :
    def __init__(self, name, area) :
        self.name = name
        self.__area = area
        
    @property
    def area_access(self) :
        return self.__area
    
    @area_access.setter
    def area_access_modify(self, area) :
        if area <= 499 :
            pass
        else :
            self.__area = area

In [38]:
c = Country('India',99)

In [39]:
c.area_access

99

In [41]:
c.area_access_modify = 1000
c.area_access

1000

In [42]:
c.area_access_modify = 50
c.area_access

1000

In [43]:
class Country :
    def __init__(self, name, area) :
        self.name = name
        self.__area = area
        
    @property
    def area_access(self) :
        return self.__area
    
    @area_access.setter
    def area_access_modify(self, area) :
        if area <= 499 :
            pass
        else :
            self.__area = area
            
    @area_access.deleter
    def area_access_delete(self) :
        del self.__area

In [44]:
c = Country('India',99)
c.area_access

99

In [45]:
del c.area_access_delete

In [46]:
c.area_access

AttributeError: 'Country' object has no attribute '_Country__area'

In [47]:
class Company :
    def __init__(self, Company_name, Company_employee) :
        self.Company_name = Company_name
        self.__Company_employee = Company_employee

In [48]:
c = Company('RAK company', 499)
c.Company_name

'RAK company'

In [50]:
c.Company_employee

AttributeError: 'Company' object has no attribute 'Company_employee'

In [51]:
c._Company__Company_employee # one way to access private variable

499

In [52]:
# another way to access private variable

class Company :
    def __init__(self, Company_name, Company_employee) :
        self.Company_name = Company_name
        self.__Company_employee = Company_employee
        
    @property
    def Company_employee_access(self) :
        return self.__Company_employee

In [53]:
c = Company('RAK company', 499)
c.Company_employee_access

499

In [62]:
# want to modify accessable private variable

class Company :
    def __init__(self, Company_name, Company_employee) :
        self.Company_name = Company_name
        self.__Company_employee = Company_employee
        
    @property
    def Company_employee_access(self) :
        return self.__Company_employee
    
    @Company_employee_access.setter
    def Company_employee_modify(self, employee_num) :
        if employee_num <= 500 :
            pass
        else :
            self.__Company_employee = employee_num

In [63]:
c = Company('RAK company', 600)
c.Company_employee_modify

600

In [64]:
c = Company('RAK company', 100)
c.Company_employee_modify

100

In [65]:
c = Company('RAK company', 10000)
c.Company_employee_modify

10000

In [66]:
# want to delete accessable private variable

class Company :
    def __init__(self, Company_name, Company_employee) :
        self.Company_name = Company_name
        self.__Company_employee = Company_employee
        
    @property
    def Company_employee_access(self) :
        return self.__Company_employee
    
    @Company_employee_access.setter
    def Company_employee_modify(self, employee_num) :
        if employee_num <= 500 :
            pass
        else :
            self.__Company_employee = employee_num
            
    @Company_employee_access.deleter
    def Company_employee_delete(self) :
        del self.__Company_employee

In [67]:
c = Company('RAK company', 600)
c.Company_employee_access

600

In [68]:
del c.Company_employee_delete

In [69]:
c.Company_employee_access

AttributeError: 'Company' object has no attribute '_Company__Company_employee'